{% extends 'base.html.twig' %}

{% block body %}
    <header class="header">
        {% include 'includes/header.html.twig' %}
        <div class="intro">
            <div class="intro-description">
                <h1>De la conception à la réalisation de votre site internet sur mesure</h1>
                <h3>Mon tarif horaire : 200€ HT</h3>
                <button class="btn" onclick="window.location.href = '/contact'">
                    Obtenir un devis gratuit
                </button>
            </div>
            <div class="intro-logo">
                <img src="/img/logo.jpg" alt="Alexandre C.">
            </div>
        </div>
    </header>
    <section class="section offers" id="offers">
        <div class="section-intro">
            <h2>Offres de service</h2>
            <div class="white-divider"></div>
        </div>
        <ul class="offers-list">
            <li>
                <h3>Site e-commerce</h3>
                <ul class="specs-list">
                    <li><i class="fas fa-check"></i> Pages illimités</li>
                    <li><i class="fas fa-check"></i> Articles illimités</li>
                    <li><i class="fas fa-check"></i> Panel administrateur</li>
                    <li><i class="fas fa-check"></i> Référencement SEO</li>
                </ul>
                <button class="btn" onclick="window.location.href = '/contact'">
                    Dès 600€ HT
                </button>
            </li>
            <li class="star">
                <h3>Site vitrine <i class="fas fa-star" style="color: goldenrod;"></i></h3>
                <ul class="specs-list">
                    <li><i class="fas fa-check"></i> Pages illimités</li>
                    <li><i class="fas fa-check"></i> Panel administrateur</li>
                    <li><i class="fas fa-check"></i> Référencement SEO</li>
                    <li><i class="fas fa-check"></i> E-Commerce en option</li>
                </ul>
                <button class="btn" onclick="window.location.href = '/contact'">
                    Dès 300€ HT
                </button>
            </li>
            <li>
                <h3>Application web</h3>
                <ul class="specs-list">
                    <li><i class="fas fa-check"></i> 100% personnalisable</li>
                    <li><i class="fas fa-check"></i> Panel administrateur</li>
                    <li><i class="fas fa-check"></i> Interface intuitive</li>
                    <li><i class="fas fa-check"></i> Hébergement en option</li>
                </ul>
                <button class="btn" onclick="window.location.href = '/contact'">
                    Dès 900€ HT
                </button>
            </li>
        </ul>
    </section>
    <section class="section portfolio" id="portfolio">
        <div class="section-intro">
            <h2>Exemple de créations</h2>
            <div class="black-divider"></div>
        </div>
        <div class="slideshow">
            <div class="slide fade">
                <img src="/img/site.png" style="width: 100%;" alt="Mon site Internet de Freelance">
                <h4 class="slide-text">Mon site Internet de Freelance</h4>
            </div>
            <div class="slide fade">
                <img src="/img/minecloud.png" style="width: 100%;" alt="MineCloud.fr - Sauvegarde de cartes Minecraft dans le cloud">
                <h4 class="slide-text">MineCloud.fr - Sauvegarde de cartes Minecraft dans le cloud</h4>
            </div>
            <div class="slide fade">
                <img src="/img/bossu.jpg" style="width: 100%;" alt="Application web de gestion de rendez-vous">
                <h4 class="slide-text">Application web de gestion de rendez-vous</h4>
            </div>
            <div class="slide fade">
                <img src="/img/guard.jpg" style="width: 100%;" alt="Application web de gestion d'adhérents pour une association">
                <h4 class="slide-text">Application web de gestion d'adhérents pour une association</h4>
            </div>
            <div class="slide fade">
                <img src="/img/website.jpg" style="width: 100%;" alt="Mon CV en ligne">
                <h4 class="slide-text">Mon CV en ligne</h4>
            </div>
            <a class="slide-prev" onclick="pushSlide(-1)">
                <i class="fas fa-chevron-left fa-3x"></i>
            </a>
            <a class="slide-next" onclick="pushSlide(1)">
                <i class="fas fa-chevron-right fa-3x"></i>
            </a>
        </div>
    </section>
    <section class="section blog">
        <div class="section-intro">
            <h2>Derniers articles publiés</h2>
            <div class="black-divider"></div>
        </div>
        <div class="cards">
            <div class="card">
                <a href="/blog/article-blog-1" target="_blank">
                    <img src="https://picsum.photos/1920/1080" alt="blog_1" width="300" class="card-image">
                </a>
                <div class="card-details">
                    <h3 class="card-title">Article de Blog n°1</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci aperiam at distinctio...</p>
                </div>
            </div>
            <div class="card">
                <a href="/blog/article-blog-2" target="_blank">
                    <img src="https://picsum.photos/1920/1080" alt="blog_1" width="300" class="card-image">
                </a>
                <div class="card-details">
                    <h3 class="card-title">Article de Blog n°2</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci aperiam at distinctio...</p>
                </div>
            </div>
            <div class="card">
                <a href="/blog/article-blog-3" target="_blank">
                    <img src="https://picsum.photos/1920/1080" alt="blog_1" width="300" class="card-image">
                </a>
                <div class="card-details">
                    <h3 class="card-title">Article de Blog n°3</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci aperiam at distinctio...</p>
                </div>
            </div>
        </div>
        <!--<div class="no-cards">
            <h3>Aucun article à afficher</h3>
        </div>-->
    </section>
    {% include 'includes/footer.html.twig' %}
{% endblock %}
