{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="intro" style="height: 50%;">
        <h1 class="intro-title">Mentions légales</h1>
        <div class="intro-divider"></div>
    </div>
    <div class="mentions">
        <h2>INFORMATIONS EDITORIALES</h2>
        <p><strong>Site</strong> : <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a><br />
            <strong>Propriétaire</strong> : Alexandre Canoën <br />
            <strong>Adresse du proriétaire</strong> : 114 Rue George Sand 62575 Blendecques<br />
            <strong>N° de téléphone du propriétaire</strong> : 0781283360 <br />
            <strong>Responsable de publication</strong> : Alexandre Canoën – contact@acanoen.fr<br />
            <strong>Webmaster</strong> : Alexandre Canoën – postmaster@acanoen.fr<br />
            <strong>Créateur du site</strong> : <a href='https://acanoen.fr'>Alexandre Canoën</a><br />
        <h2>NOUS CONTACTER</h2>
        <p>Alexandre Canoën vous offre la possibilité de correspondre avec ses services, dans le respect du référentiel Marianne. Cette charte interministérielle vise à garantir la qualité de l'accueil et promeut des valeurs telles que la courtoisie, l'accessibilité, la rapidité, la clarté des réponses mais aussi un esprit d'écoute, de rigueur et de transparence.</p>
        <h3>Pour vous aider dans vos échanges et trouver le bon interlocuteur :</h3>
        <ul><li>questions générales, demandes de renseignements ou compléments d'information : Alexandre Canoën – contact@acanoen.fr</li>
            <li>fonctionnement du site, difficultés techniques, problème d'affichage ou de téléchargement, remarques et suggestions : Alexandre Canoën – postmaster@acanoen.fr</li></ul>
        <h2>PRESTATAIRE D'HEBERGEMENT</h2>
        <p>La politique du site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> est en conformité avec la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
        <h3>Hébergement du site :</h3>
        <p>OVHCloud<br />
            2 Rue Kellermann 59100 Roubaix</p>
        <h2>CONDITIONS GENERALES D'UTILISATION DU SITE ET DES SERVICES PROPOSES</h2>
        <p>L’utilisation du site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> sont donc invités à les consulter de manière régulière.</p>
        <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Alexandre Canoën, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
        <p>Le site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> est mis à jour régulièrement par Alexandre Canoën. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
        <h2>LIMITATIONS DE RESPONSABLITES</h2>
        <p>Alexandre Canoën ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a>, et résultant soit de l’utilisation d’un matériel non adapté ou défectueux, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
        <p>Alexandre Canoën ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a>.</p>
        <p>Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. Alexandre Canoën se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Alexandre Canoën se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</p>
        <h2>POLITIQUE DE CONFIDENTIALITE</h2>
        <p>L'équipe du site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> est particulièrement attentive au respect des obligations légales de tout éditeur de site internet et suit les recommandations de la commission nationale de l'informatique et des libertés (CNIL).</p>
        <h3>Respect des lois en vigueur</h3>
        <p>Le site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> respecte la vie privée de l'internaute et se conforme strictement aux lois en vigueur sur la protection de la vie privée et des libertés individuelles. Aucune information personnelle n'est collectée à votre insu. Aucune information personnelle n'est cédée à des tiers. Les courriels, les adresses électroniques ou autres informations nominatives dont ce site est destinataire ne font l'objet d'aucune exploitation et ne sont conservés que pour la durée nécessaire à leur traitement.</p>
        <h3>Déclaration CNIL</h3>
        <p>Le site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> ne gère pas de données personnelles et n'a donc pas fait l'objet d'une déclaration à la CNIL.</p>
        <h3>Cookies et données statistiques : traçabilité et profilage</h3>
        <p>Lors de leur navigation sur le site, les internautes laissent des traces informatiques. Cet ensemble d'informations est recueilli à l'aide d'un témoin de connexion appelé cookie qui peut contenir des informations à caractère personnel.</p>
        <p>Dans le but d'améliorer l'ergonomie, la navigation au sein du site, le contenu éditorial et le service aux internautes, l'outil gestionnaire des statistiques du site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> stocke des informations relatives au profil des internautes : équipement, navigateur utilisé, origine géographique des requêtes, date et heure de la connexion, navigation sur le site, fréquence des visites, etc. Ces données de connexion permettent des extractions statistiques et sont conservées pendant un an.</p>
        <p>Tout internaute a la possibilité de refuser l'enregistrement de ces données en modifiant la configuration du navigateur de son ordinateur qui autorise ou non l'enregistrement de cookies. Il vous est possible de les refuser ou de les supprimer sans que cela ait une quelconque influence sur votre accès aux pages du site. Pour vous opposer à l'enregistrement de cookies ou être prévenu avant d'accepter les cookies, nous vous recommandons la lecture de la rubrique d'aide de votre navigateur qui vous précisera la marche à suivre.</p>
        <h3>Contenu embarqué depuis d’autres sites</h3>
        <p>Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.</p>
        <p>Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.</p>
        <h3>Type de données personnelles collectées</h3>
        <p>nom, prénom, genre, adresse e-mail, numéro de téléphone, adresse postale</p>
        <h3>Utilisation de vos données</h3>
        <p>communication par newsletters, facturation, suivi du comportement de l'utilisateur sur le site</p>
        <h3>Durées de stockage de vos données</h3>
        <p>Vous pouvez faire une demande de retrait de vos données auprès du responsable de publication. Les données de facturation sont stockées 6 ans.</p>
        <h2>DROITS D'AUTEUR ET DROITS DE REPRODUCTION DU CONTENU MIS EN LIGNE</h2>
        <h3>Droits de reproduction des documents publics ou officiels</h3>
        <p>Depuis la publication de l'ordonnance n° 2005-650 du 6 juin 2005 relative à la liberté d'accès aux documents administratifs et à la réutilisation des informations publiques, ces informations peuvent être réutilisées à d'autres fins que celles pour lesquelles elles ont été produites, et particulièrement les informations faisant l'objet d'une diffusion publique. Ces documents prévus pour une diffusion publique ne sont couverts par aucun droit d'auteur et peuvent donc être reproduits librement. Le graphisme, l'iconographie ainsi que le contenu éditorial demeurent la propriété de l'État, et, à ce titre, font l'objet des protections prévues par le Code de la propriété intellectuelle.</p>
        <p>L'article L.122-5 du code de la propriété intellectuelle pose le principe selon lequel, "lorsque l'oeuvre a été divulguée, l'auteur ne peut interdire la diffusion, même intégrale, par la voie de presse ou de télédiffusion, à titre d'information d'actualité, des discours destinés au public prononcés dans les assemblées politiques, (...), ainsi que dans les réunions publiques d'ordre politique et les cérémonies officielles".<br />
            C'est donc le cas notamment pour les discours et interventions publiques qui s'apparentent à une exception au droit d'auteur. De même, les documents publics ou officiels tels que les communiqués officiels ne sont couverts par aucun droit d'auteur, et peuvent en conséquence être reproduits librement.<br />
            Si la reprise de ces contenus de façon partielle ou intégrale est autorisée, elle doit être obligatoirement assortie de la mention du nom de l'auteur, de la source, et éventuellement d'un lien renvoyant vers le document original en ligne sur le site. La mention "© Alexandre Canoën - acanoen.fr" devra donc être indiquée.</p>
        <p>Tous les autres contenus présents sur le site sont couverts par le droit d'auteur. Toute reproduction est dès lors conditionnée à l'accord de l'auteur en vertu de l'article L.122-4 du Code de la propriété Intellectuelle.<br />
            Les informations reproduites ne doivent l'être qu'à des fins personnelles, associatives ou professionnelles ; toute diffusion ou utilisation à des fins commerciales ou publicitaires étant interdites.</p>
        <h3>Demande d'autorisation de reproduction des contenus</h3>
        <p>La demande devra préciser le contenu visé ainsi que la publication ou le site sur lequel ce dernier figurera. Une fois cette autorisation obtenue, la reproduction d'un contenu doit obéir aux principes suivants :</p>
        <ul><li>gratuité de la diffusion</li>
            <li>respect de l'intégrité des documents reproduits (aucune modification, ni altération d'aucune sorte)</li>
            <li>mention obligatoire : "© Alexandre Canoën - acanoen.fr - droits réservés". Cette mention pointera grâce à un lien hypertexte directement sur le contenu</li>
            <li>insertion d'une icône représentant le site internet</li></ul>
        <p>Les organismes sous tutelle ainsi que les autres ministères sont dispensés de cette demande d'autorisation sous réserve d'insertion de la mention : "© Alexandre Canoën - acanoen.fr - droits réservés". Cette mention pointera grâce à un lien hypertexte directement sur le contenu.</p>
        <h2>RESPONSABILITE FACE AUX LIENS VERS D'AUTRES SITES</h2>
        <p>Le site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> propose de nombreux liens vers d'autres sites, essentiellement des sites officiels (gouvernement, institutions, organismes publics, etc.) mais aussi vers des sites, français ou étrangers, d'associations, d'organismes professionnels du secteur éducatif ou d'entreprises partenaires sur des opérations ponctuelles.</p>
        <p>Chaque fois, il est systématiquement précisé vers quel site nous vous proposons d'aller. Ces pages, dont les adresses sont régulièrement vérifiées, ne font pas partie du site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> : elles n'engagent pas la responsabilité de la rédaction du site qui ne peut être tenue pour responsable des contenus vers lesquels ces liens pointent. Ils ne visent qu'à permettre à l'internaute d'accéder plus facilement à d'autres ressources documentaires sur le sujet consulté.</p>
        <h2>DEMANDE DE CREATION DE LIENS</h2>
        <h3>Création de liens vers le site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a></h3>
        <p>Le site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> autorise, sans autorisation préalable, la mise en place de liens hypertextes pointant vers ses pages, sous réserve de :<br />
        <ul><li>ne pas utiliser la technique du lien profond, c'est-à-dire que les pages du site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> ne doivent pas être imbriquées à l'intérieur des pages d'un autre site, mais visibles par l'ouverture d'une fenêtre indépendante</li>
            <li>mentionner la source qui pointera grâce à un lien hypertexte directement sur le contenu visé</li></ul>
        Les sites qui font le choix de pointer vers <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> engagent leur responsabilité dès lors qu'ils porteraient atteinte à l'image du site public.</p>
        <h2>DROIT APPLICABLE ET ATTRIBUTION DE JURIDICTION</h2>
        <p>Tout litige en relation avec l’utilisation du site <a href='https://acanoen.fr' title='Alexandre Canoën - acanoen.fr'>acanoen.fr</a> est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
    </div>
{% endblock %}
