html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------- CUSTOM CSS RULES --------------------------- */

*, ::after, ::before {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* ---------------------- HOME CSS RULES --------------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.1rem 2rem 0;
    background: transparent;
    z-index: 100;
}

.header.bg {
    background-color: #2196F3;
    box-shadow: 2px 0 2px 1px rgba(0, 0, 0, .4);
    transition: background-color .1s linear;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.menu-toggle {
    display: none;
}

.header-title {
    float: left;
}

.header-title a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    margin: auto .5rem;
}

.primary {
    display: flex;
    flex-direction: row;
}

.primary a {
    margin: auto .7rem;
}

.social {
    display: flex;
    flex-direction: row;
}

.social a {
    margin: auto .3rem;
}

.menu a {
    text-decoration: none;
    color: #FFFFFFFF;
}

.menu a:hover {
    text-decoration: none;
    color: #FFFFFFAA;
}

a.btn-client {
    padding: .6rem .8rem;
    border-radius: 5px;
    background-color: #66BB6AFF;
    color: white;
}

a.btn-client:hover {
    background-color: #66BB6ADA;
    color: white;
}

.intro {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom right, #2196F3, #4CAF50);
    color: white;
}

.intro-image {
    margin: 1rem auto;
    border-radius: 50%;
}

.intro-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.intro-divider {
    margin: 1rem auto;
    background-color: white;
    height: .4rem;
    width: 250px;
    border-radius: 10px;
}

.intro-description {
    font-size: 2rem;
    font-weight: 600;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: #FFFFFFAA;
    padding: 1rem 3rem;
}

.footer-text {
    font-weight: 400;
}

.footer a {
    color: #FFFFFFAA;
}

.footer a:hover {
    text-decoration: none;
    color: #FFFFFF99;
}

@media (max-width: 768px) {
    .header {
        flex-grow: 1;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .menu-toggle {
        float: right;
        display: block;
        background: transparent;
        border: none;
        color: #FFFFFFAA;
        margin-top: -.2rem;
        outline: none;
    }

    .menu.toggle {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        opacity: .95;
        box-shadow: 2px 0 2px 1px rgba(0, 0, 0, .4);
    }

    .menu.toggle a {
        color: rgba(0, 0, 0, .6);
    }

    .menu.toggle a:hover {
        color: rgba(0, 0, 0, .8);
    }

    .menu.toggle .primary {
        flex-direction: column;
        font-size: 1.3rem;
        padding-top: 1.5rem;
    }

    .menu.toggle .primary li {
        margin: 1rem auto;
    }

    .menu.toggle .social {
        font-size: 1.6rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
}

/* ---------------------- SECTIONS CSS RULES ------------------------ */

section {
    padding: 2.5rem 2rem;
}

section h3 {
    margin: 0 auto 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

section p {
    margin: 1.5rem auto;
    font-size: 1.2rem;
}

a.btn-contact {
    border-radius: 5px;
    padding: .6rem .8rem;
    color: white;
    text-decoration: none;
    background-color: #42A5F5FF;
}

a.btn-contact:hover {
    background-color: #42A5F5DA;
}

#offers {
    background: linear-gradient(to bottom right, #4CAF50, #0D47A1);
    color: white;
}

h3 {
    margin: 0 auto 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

#offers h4 {
    margin: 1.2rem auto;
    font-size: 1.3rem;
    font-weight: 400;
}

#offers p {
    font-size: 1.1rem;
}

#offers .services {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.service {
    padding: 0 1rem;
    margin: 0 .5rem;
    border-radius: 5px;
    border: 1px solid white;
}

.service:hover {
    border: 1px solid #FFC107;
    color: #FFC107;
}

@media (max-width: 768px) {
    #offers .services {
        flex-direction: column;
    }

    #offers .service {
        margin-top: 1rem;
    }
}

#portfolio .creations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.creations img {
    margin: .5rem;
    width: 30%;
    border-radius: 5px;
}

.creations img:hover {
    border: 2px solid #FFC107;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .4);
}

@media (max-width: 768px) {
    #portfolio .creations {
        flex-direction: column;
        align-content: center;
    }

    .creations img {
        width: 90%;
    }
}

#portfolio a {
    color: #212121FF;
    text-decoration: underline;
}

#portfolio a:hover {
    color: #212121AA;
    text-decoration: none;
}

/* ----------------------- MENTIONS CSS RULES ------------------------------- */

.mentions {
    margin: 1rem;
}

.mentions h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 1.4rem;
    margin-bottom: .4rem;
}

.mentions {
    font-size: 1.2rem;
    text-align: justify;
}

.mentions h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.2rem;
    margin-bottom: .4rem;
}

.mentions a {
    color: #212121FF;
    text-decoration: underline;
}

.mentions a:hover {
    text-decoration: none;
    color: #212121AA;
}

/* ----------------------- CONTACT CSS RULES ------------------------------- */

.form-group {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
}

.form-group label {
    width: 20%;
}

.form-group .form-control {
    width: 80%;
    height: 30px;
}

.form-group textarea.form-control {
    height: 90px;
}

.form-group .form-control:focus {
    outline: #42A5F5 solid .1rem;
}

.form-group .btn-send {
    padding: .6rem .8rem;
    border-radius: 5px;
    font-size: 1.1rem;
    border: none;
    background-color: #42A5F5FF;
    color: white;
    outline: none;
}

.form-group .btn-send:hover {
    cursor: pointer;
    background-color: #42A5F5DA;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }

    .form-group label {
        width: 100%;
    }

    .form-group .form-control {
        width: 100%;
    }
}
