<nav class="nav">
    <div class="nav-head">
        <ul class="nav-menu">
            <li>
                <a href="/"><i class="fas fa-home"></i></a>
            </li>
            <li>
                <a href="#offers">Nos Offres</a>
            </li>
            <li>
                <a href="#portfolio">Nos Réalisations</a>
            </li>
            <li>
                <a href="/blog">Notre blog</a>
            </li>
            <li>
                <a href="/contact">Contactez-nous</a>
            </li>
        </ul>
    </div>
    <div class="nav-foot">
        <ul class="nav-quick">
            <li>
                <a href="/login">
                    <i class="fas fa-user-circle"></i> Se connecter
                </a>
            </li>
        </ul>
    </div>
</nav>
