<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Conception et réalisation de votre site internet sur mesure à Saint-Omer. Votre solution clé en main à partir de 300€. Contactez-nous pour avoir un devis gratuit.">
        <meta name="og:url" content="https://acanoen.fr">
        <meta name="og:type" content="website">
        <meta name="og:title" content="Alexandre Canoën">
        <meta name="og:description" content="Conception et réalisation de solutions informatique sur mesure">
        <meta name="og:image" content="https://acanoen.fr/img/logo.jpg">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@acanoenfr">
        <meta name="twitter:creator" content="@acanoenfr">
        <title>{% block title %}Création de site internet sur mesure{% endblock %} - acanoen.fr</title>
        <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap">
        <link rel="stylesheet" href="/css/all.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "Website",
                "name": "Alexandre Canoën",
                "author": {
                    "@type": "Person",
                    "name": "Alexandre Canoën"
                },
                "datePublished": "2020-07-01",
                "description": "Conception et réalisation de solutions informatique sur mesure"
            }
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="/js/script.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135751388-1"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag() {
                dataLayer.push(arguments)
            }
            gtag('js', new Date())
            gtag('config', 'UA-135751388-1')
        </script>
    </body>
</html>
